<div class="row">
    <div class="main_image_about col col-md-6 col-sm-12">
      <img src="../../../assets/imgregistrelogin/about1.jpg" alt="Fotografía grupal FENPOF" class = "about-imag">
    </div>
  
    <div class="text_about col col-md-6 col-sm-12">
  
      <h1>¿Quiénes Somos?</h1>
  
      <p>Federación de Enfermedades Poco Frecuentes Chile (Fenpof Chile),
        está conformada por líderes de 30 Agrupaciones, Asociaciones , Corporaciones y/o
        Fundaciones, que buscan mejorar las Políticas Públicas en favor de los Niños, Jóvenes y Adultos,
        que padecen alguna de las 180 patologías existentes hoy en chile, y que clasifican
        cómo enfermedades poco frecuentes.</p>
    </div>
  </div>
  