<div class="row">
  <div class="main_image_about col col-sm-12 col-md-12">
    <img src="../../../assets/imgregistrelogin/about1.jpg" alt="Fotografía grupal FENPOF" class="about-imag">
  </div>
</div>

<section class="row">
<!-- <div class="col col-sm-0 col-md-2"></div> -->
  <div class="text_about col col-sm-12 col-md-12">
    <h1>Quiénes Somos</h1>

    <p>Federación de Enfermedades Poco Frecuentes Chile (Fenpof Chile) está conformada por 11 líderes de agrupaciones, asociaciones, corporaciones y/o fundaciones, con la finalidad de trabajar de manera conjunta en visibilizar, concientizar y educar.
      También buscan incidir en políticas públicas, que ayuden a mejorar la calidad de vida de cada una de las personas que viven con algún tipo de enfermedad poco frecuente, creando redes de apoyo tanto en chile como en el extranjero.</p>
  </div>
</section>

<section class="row">
  <article class="mision col-sm-12 col-md-6">
    <h2>Misión</h2>
    <p>Nuestra misión como federación es potenciar el trabajo en conjunto con agrupaciones, fundaciones y organizaciones que representen alguna enfermedad poco frecuente, promoviendo acciones de concientización, difusión, visibilización. 
        Con el fin de acompañar a las familias en todos los procesos que ellos viven.
        </p>
  </article>
  <article class="vision col-sm-12 col-md-6">    
    <h2>Visión</h2>
    <p>Enfocando el trabajo conjunto, buscamos incidir en políticas públicas siendo la voz de los sin voz.</p>
  </article>
</section>
