* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main_image_about {
  margin-top: 3em;
  text-align: center;
}

.main_image_about img {
  width: 50em;
}

.text_about {
  margin-top: 4em;
  text-align: justify;
}

.text_about h1,
h2 {
  text-align: center;
}

.text_about p {
  margin-top: 2em;
  padding-bottom: 5em;
  border-bottom: .2em solid #A2C7E2;
}

.mision {
  border-right: .2em dotted #A2C7E2;
}

.mision,
.vision {
  padding-bottom: 2em;
  margin-bottom: 5em;
  margin-top: 3em;
}

.text_about p,
.mision p,
.vision p {
  margin: 1em 3em 2em 3em;
}

@media (max-width: 768px) {

  * {
    margin: 0;
  }

  .main_image_about .about-imag {
    width: 100%;
    height: 14em;
    margin: 0%;
  }

  .text_about p {
    margin-top: 2em;
  }

  .text_about h1,
  h2 {
    margin-bottom: .30em;
  }

  .text_about p,
  .mision p,
  .vision p {
    margin: 0em .70em;
    margin-bottom: 2em;
  }

  .mision {
    border-right: none;
    border-bottom: .2em dotted #A2C7E2;
  }

  /* .mision p{
    margin: 0%;
    margin-bottom: 3em;
    padding: 0%;
  } */

}
