.container>.row {
    background-color: white;
    border-radius: 10px;
    margin: 10px 0 0 0;
    padding: 10px;
}

.col-12>.btn {
    margin-bottom: 10px;
}

.title {
    text-align: center;
}

img {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    height: auto;
    display: block;
}