<div class="event_testimony row">

  <!-- Eventos -->

  <div class="events_container col col-sm-12 col-md-7">
    <ul *ngFor="let postuser of published_event | paginate: page_size">
      <div class="contenedor-card">
        <div class="card bg-light mb-3 container">
          <div class="card-header"></div>
          <div class="card-body">
            <img class="img-card container"
              src="https://firebasestorage.googleapis.com/v0/b/fenfop-chile-c0ea2.appspot.com/o/2019%2F_1565625858167?alt=media&token=4eb62f55-ddd9-486f-9b40-b7f72d741b63"
              alt="Card image">
            <h4 class="card-title"></h4>
            <p class="card-text">{{postuser.post}}</p>
          </div>
        </div>
      </div>
    </ul>
    <a class="see_more" routerLink="/events">Ver más</a>
  </div>

  <!-- testimonios -->

  <div class="testimony col col-sm-12 col-md-3">
    <h3>Testimonios</h3>
    <div class="card">
      <div class="card-body">
        <p class="card-text">“Existían médicos que creían conocer mi diagnóstico, ya muchos de los servicios públicos no
          tienen los medios para confirmarlo con exámenes genéticos.
          Yo me demore cerca de 4 años en confirmar mi diagnóstico más certero, lo que es un tiempo bastante más corto
          en comparación a otros pacientes”
        </p>
        <footer class="blockquote-footer">Paciente <cite title="Source Title"></cite></footer>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-body">
        <p>
          “Es muy difícil para nosotros y nuestras familias el tener una enfermedad poco
          frecuente en este país donde muchas veces no tenemos código fonasa, yo no puedo
          comprar un bono por distrofia muscular porque no existe, debemos atendernos por
          otra cosa en forma particular”
        </p>
        <footer class="blockquote-footer">Paciente de distrofia muscular <cite title="Source Title"></cite></footer>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-body">
        <p class="card-text">“Todas las organizaciones tienen distintos objetivos,
          pero con FENPOF podemos unirlas y lograr lo principal que es visibilizar
          nuestra causa demostrando que no somos invisibles”
        </p>
        <footer class="blockquote-footer">Lider de Organizacion <cite title="Source Title"></cite></footer>
      </div>
    </div>
    <a class="see_more" routerLink="/support">Ver más</a>
  </div>

  <!-- organizaciones -->
  <section class="row container_org">

    <div class="title_org col col-sm-12 col-md-12">
      <h2>Organizaciones:</h2>
    </div>

    <div *ngFor="let images of imgOrg" class="img_org col col-sm-12 col-md-2">
      <img src="{{images.image}}" alt="{{images.id}}">
      <p class="name_org"><strong>{{images.id}}</strong></p>
    </div>

  </section>
