/* Formato general del home */
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
   */
.event_testimony {
  margin: 4em 2em 6em 2em;
}

h2 {
  margin-bottom: 1.5em;
}

/* Formato de eventos */

.show_events {
  padding: 0em 10em 1em 3em;
}

/* Formato de testimonios */

.testimony .card {
  width: 30em;
}

/* .testimony .card{
    margin-bottom: 4em;
} */

/* Formato imagenes de organizaciones que se mostrarán */

.container_org {
  margin: 4em 2em;
  border-top: .15em solid #A2C7E2;
  padding: 3em 2em 3em 2em;
}

.img_org img {
  border-radius: 100%;
  width: 7em;
  height: 7em;
  margin: 1em;
}

.img_org p {
  text-align: center;
  font-style: oblique;
}

@media (max-width: 768px) {

.events_container .card{
  width: 15em;
  margin-left: 0%;
}

  /* Texto que aparece al poner el curso sobre la imagen */
  .img_org .name_org {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.753);
    color: #fff;
    text-align: center;
    padding: 5px 2px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
  }

  .img_org:hover .name_org {
    visibility: visible;
  }

  .events_container {
    padding-bottom: 3em;
  }

  .testimony {
    padding-top: 3em;
    border-top: .15em solid #A2C7E2;
    margin-bottom: 3em;
  }

  .testimony h3 {
    margin-bottom: .7em;
  }

  .testimony .card {
    width: 100%;
  }

.container_org{
text-align: center;
margin: 0%;
padding: 0%;
}

.title_org{
  margin-top: 2em;
}

}
