<h1>Seccion del administrador</h1>
<div class="container">
  <div class="text-post">
<!--    <span ng-non-bindable>{{1288323623006 | date:"MM/dd/yyyy 'at' h:mma"}}</span>:
      <span>{{'1288323623006' | date:"MM/dd/yyyy 'at' h:mma"}}</span><br>

      <input #scheduledStartDate="ngModel" [(ngModel)]="reposition.scheduledStartDate"
name="scheduledStartDate" id="scheduledStartDate" class="input is-normal"
type="date" required placeholder="Leaving...">
-->  

    <textarea #createPost id="description" placeholder="Escriba aqui su noticia" cols="60" rows="10"
      class="text-adm"></textarea>
  </div>
  <div class="btnComent">

    <button id="coment" type="button" class="btnPost" (click)="sendPost(createPost.value)">Comentar</button>

    <!--<button id="clearPost" type="button" class="btnPost" >Eliminar</button>-->
  </div>
</div>


<h1>Eventos que has publicado</h1>

<section>
    <main >
            <div *ngIf="postusers?.length > 0; else noCommentary" >
                    <ul *ngFor="let postuser of postusers" > 
                        <div class="container" >
                            <div class="card border-success mb-3 center-block">
                                <div class="card-header"></div>
                                <div class="card-body">
                                    <img class="img-card" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
                                  <h4 class="card-title"></h4>
                                  <p class="card-text">{{postuser.post}}</p>
                                </div>
                              </div>
                               
                       <div>
                              <!--  <button class="btn-menu" (click)="deleteOrder(order)">Borrar</button> -->
                   </div>
                        </div>
            
   </ul>
</div> 
<ng-template #noCommentary>
       <h5>Cargando los post</h5>
     </ng-template>    
    </main> 
                                       
</section>