.card {
    max-width: 63em; 
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 2em;
}
h3{
    color: #A2C7E2;
}

.card-img{
    border-radius: 100%;
    width: 13em;
    height: 13em;
    margin: 1em;
}

.btn{
    background-color: #A2C7E2;
    color: whitesmoke;

}

@media (max-width:320px){

    .card {
        max-width: 63em; 
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 1em;
    }
    /* .card-img{
        border-radius: 100%;
        width: 12em;
        height: 12em;
        margin: 1em;
    } */
  }

  @media (min-width:375px){
   
    .card {
        max-width: 63em; 
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 1em;
    }
    .card-img{
        border-radius: 100%;
        width: 13em;
        height: 13em;
        /* margin: 1em; */
    }
  }