
.aaa{
    background: white;
}
.container-fluid{
    margin:3rem;
}

h3{
    color: #A2C7E2;
}

.card-img{
    border-radius: 100%;
    width: 15em;
    height: 15em;
    margin: 1em;
}

.btn{
    background-color: #A2C7E2;
    color: whitesmoke;

}
