<div *ngFor="let Data of posts" >
  <h3>{{Data.id}}</h3>
  <p>Representante: {{Data.representative}}</p>
  <p>Contacto: {{Data.contact}}</p>
  <p>{{Data.email}}</p>
</div>

<!-- 
<div class="row">
     <div class="col col-md-6 col-sm-12"> 
      <img src="assets/img/menkes-chile.png" class="imgpeque" alt="Menkes-Chile">
     </div>
  
    <div class="info col col-md-6 col-sm-12">
  
     <a href="https://www.facebook.com/MenkesChile/">Enfermedad Menkes-Chile</a>
     <br> 
     <p>Presidente: Víctor Rodríguez</p>
      <p>Contacto: <br>
        +569 8187 3224 <br>
        menkeschile@gmail.com
      </p>

    </div>
  </div>

  <div class="row">
    <div class="col col-md-6 col-sm-12"> 
      <img src="assets/img/dimus.jpg" class="imgpeque" alt="Dimus-chile">
     </div>
  
    <div class="info col col-md-6 col-sm-12">
  
     <a href="https://dimuschile.cl/">Dimus-Asociación distrofia muscular Chile</a>
     <br> 
     <p>Presidente: Igor Navarrete Richards</p>
      <p>Contacto: <br>
        +56 9 5720 2342 <br>
        +56 9 6526 8155 <br>
         +56 9 8289 0088 <br>
        +56 9 7618 4624 <br> 
        contacto@dimuschile.cl <br>
        dimuschile@gmail.com
      </p>

    </div>
  </div>

  <div class="row">
     <div class="col col-md-6 col-sm-12"> 
      <img src="assets/img/fame.png" class="imgpeque" alt="fame-Chile">
     </div> 
  
    <div class="info col col-md-6 col-sm-12">
  
     <a href="http://famechile.cl/">FAME Chile - Familias Atrofia Muscular Espinal Chile</a>
     <br> 

      <p>Contacto: <br>
        fame@famechile.cl
      </p>

    </div>
  </div>   -->
