<div class="container">
<div  *ngFor="let Data of posts" class="card mb-3" >
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{Data.image}}" class="card-img img-fluid" alt="{{Data.id}}">
    </div>
    <div class="col-md-8">  
      <div class="card-body">
        <h3 class="card-title">{{Data.id}}</h3>
        <p class="card-text">{{Data.info}}</p> 
        <p class="card-text"><b>Representante:</b> {{Data.representative}}  </p>
        <p class="card-text">+{{Data.contact}}</p>
        <p class="card-text">{{Data.email}}</p>  
       <a href="http://{{Data.website}}" class="btn">Ir a {{Data.id}}</a>
      </div>
    </div>
  </div>
</div>
</div>