.imgpeque{
    width: 150px; height: 100px;

}
.aaa{
    background: white;
}
.container-fluid{
    margin:3rem;
}

h3{
    color: #A2C7E2;
}

/* p{
    color: black; 
    font-weight: bold;
} */
.img_org img{
    border-radius: 100%;
    width: 7em;
    height: 7em;
    margin: 1em;
}
.btn{
    background-color: #A2C7E2;
    color: whitesmoke;

}
