<div class="container-fluid aaa">
<div *ngFor="let Data of posts" >
  <h3>{{Data.id}}</h3>
  <!-- <p>Contacto</p> -->
  <ul>
    <!-- <li>{{Data.representative}}</li> -->
    <h5>{{Data.representative}}</h5>
    <li>+{{Data.contact}}</li>
    <li>{{Data.email}}</li>
    <br>
  </ul>
</div>
</div>

<!-- <div class="container-fluid">
<div class="row">
  <div>
  <img src="assets/img/otras-miradas.png" class="imgpeque" alt="otras-miradas-Chile">
</div>
<div class="info col col-md-6 col-sm-12">
 <a href="https://www.picimon.com/fundacion.otras.miradas/">Fundación Otras Miradas</a>
 <br> 
 <p>Representante: Paulina Saez</p>
  <p>Contacto: <br>
    +56996781226 <br>
    fotrasmiradas@gmail.com
  </p>
</div>
</div>
</div>
<div class="container-fluid">
<div class="row">
      <img src="assets/img/menkes-chile.png" class="imgpeque" alt="Menkes-Chile">
    
    <div class="info col col-md-6 col-sm-12">
  
     <a href="https://www.facebook.com/MenkesChile/">Agrupación Menkes Chile</a>
     <br> 
     <p>Representante: Víctor Rodríguez</p>
      <p>Contacto: <br>
        +56981873224 <br>
        menkeschile@gmail.com
      </p>

    </div>
  </div>
</div>
  <div class="container-fluid">
  <div class="row">
      <img src="assets/img/dimus.jpg" class="imgpeque" alt="Dimus-chile">
    <div class="info col col-md-6 col-sm-12">
     <a href="https://dimuschile.cl/">Dimus-Asociación distrofia muscular Chile</a>
     <br> 
     <p>Representante: Igor Navarrete Richards</p>
      <p>Contacto: <br>
        +56 9 5720 2342 <br>
        i.navarrete.r@gmail.com <br>
        </p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
      <img src="assets/img/fame.png" class="imgpeque" alt="fame-Chile">
    <div class="info col col-md-6 col-sm-12">
      <a href="http://famechile.cl/">FAME Chile - Familias Atrofia Muscular Espinal Chile</a>
     <br> 
     <p>Representante: Paulina Gonzalez</p>
      <p>Contacto: <br>
        +56972789425 <br>
        presidente@famechile.cl <br>
        </p>
    </div>
  </div>  
</div> -->