<header class="row">
  <div class="col col-md-1"></div>
    <div clas="col col-md-5 col-sm-12">
        <img src="../../../assets/img/fenpof.png" alt="logo Fenpof" class="logo" />
    </div>
    <div class="col col-md-6 col-sm-12 main_title ">
        <h1>FENPOF</h1>
        <h4>Federación de enfermedades poco frecuentes</h4>
    </div>
</header>
<nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="navbar-collapse" id="navbarContent">
          <ul class="navbar-nav auto">
    
              <li class="nav-item" display="dynamic" placement="bottom-right">
                  <a class="nav-link" style="cursor: pointer" ngbtn id="navbarButton" role="button" routerLink="/about" routerLinkActive="active">
            Sobre nosotros
                  </a>
              </li>
            
              <li class="nav-item" display="dynamic" placement="bottom-right">
                  <a class="nav-link" style="cursor: pointer" ngbtn id="navbarButton" role="button" routerLink="/information" routerLinkActive="active">
            Información
                  </a>
              </li>
    
            <li class="nav-item" ngbDropdown>
              <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown1" role="button" routerLink="/organization" routerLinkActive="active">
                Organizaciones
              </a>
              <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                <a class="dropdown-item" href="#" (click)="$event.preventDefault()">Action</a>
                <a class="dropdown-item" href="#" (click)="$event.preventDefault()">Another action</a>
                <a class="dropdown-item" href="#" (click)="$event.preventDefault()">Something else here</a>
              </div>
            </li>
    
            <li class="nav-item" display="dynamic" placement="bottom-right">
                <a class="nav-link" style="cursor: pointer" ngbtn id="navbarButton" role="button" routerLink="/support" routerLinkActive="active">
    Acompañamiento
                </a>
            </li>
    
            <li class="nav-item" display="dynamic" placement="bottom-right">
                <a class="nav-link" style="cursor: pointer" ngbtn id="navbarButton" role="button" routerLink="/public" routerLinkActive="active">
                  Políticas públicas
                </a>
            </li>
    
            <li class="nav-item" display="dynamic" placement="bottom-right">
                <a class="nav-link" style="cursor: pointer" ngbtn id="navbarButton" role="button" routerLink="/galery" routerLinkActive="active">
    Galería
                </a>
            </li>
          </ul>
        </div>
      </nav>