<header>

  <!--  second-container imagen 2  100 % desde 800 px-->
  <div clas="row square-image">
    <div class="col square-image">
      <img src="../../../assets/imgregistrelogin/fenprelo2.jpg" alt="logo Fenpof" width=100% height="150px"
        class="square-image" />
    </div>
  </div>

  <!-- barra menu class : menu_bar   100% desde 600 px-->
  <div class=" row menu_bar">
    <a href="#" class="bt-menu"><img src="../../../assets/imgregistrelogin/menu.png" class="icon-img" alt=""> MENU</a>
  </div>


  <!-- div geeral header  - 1100 px hasta 800 
         contiene imagen y tituto + frase-->
  <div class="row container-header">
    <div clas="col  ">
      <img src="../../../assets/img/fenpof.png" alt="logo Fenpof" class="logo" />
    </div>
  </div>



    <div class="col col-md-7 col-sm-12 col-xs-12 main_title ">
      <h1 class="c">FENPOF</h1>
      <h4>Federación de enfermedades poco frecuentes</h4>
    </div>




    <nav>
      <ul>
        <li><a href="Sobre nosotros" routerLink="/about" >Sobre nosotros</a></li>
        <li><a href="Información" routerLink="/information" >Información</a></li>
        <li><a href="Organizaciones" routerLink="/organization" >Organizaciones</a></li>
        <li><a href="Acompañamiento" routerLink="/support" >Acompañamiento</a></li>
        <li><a href="Políticas públicas" routerLink="/public" >Políticas públicas</a></li>
        <li><a href="Galería" routerLink="/galery" >Galería</a></li>
        <li>LOGGED: {{isLogged}}</li>

        <div class="logged" *ngIf="isLogged">
          <button (click)="onLogout()">salir</button>
        </div>
        
      </ul>
    </nav>
</header>
