/* Estilo general */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilo del header */
/*componentes /tamaño por rango :      
         o k  imagen circulo                aparece en los 1100 px hasta los 800            
              imagen cuadrada width 100%    aparece en los 800  px hasta los 600
              barra menu class : menu_bar   aparece en los 600 px 100%
              menu despegable               aparece en los 600 px 
              titulo                        aparece en los 1100 px hasta los 600
                 
                 */
/*header -->
          a) **  div - container header  (img 1 + h1 + h4 )
          a) **  div - img 2 cuadrada 
          b) **  div - menu bar con icon font ||| (horizontal)

*/


/*     a) ----> o k      initial        */
header {
  width: 95%;
  margin: auto;
}

/* c ) */
header div .first-img {
  display: block;
  padding: 0.5em;
}

.logo {
  display: block;
  width: 11em;
  border: .1em solid #000000;
  border-radius: 100%;
  margin: auto;
  /*clear: both;
  */
  /*
  margin: 12% 0% 10% 50%;*/
}

.main_title {
  display: block;
  text-align: center;
  display: block;
  margin: auto;
}
.menu_bar {
  display: none;
}

@media (max-width:1000px) {
  .menu_bar {
    display: none;
  }
  .logo {
    display: block;
    width: 8em;
    border: .1em solid #000000;
    border-radius: 100%;
    margin: auto;
    /*clear: both;
    */
    /*
    margin: 12% 0% 10% 50%;*/
  }
}

/*     a) ----> o k      finish        */

@media (max-width:800px) {
  nav {
    position: relative;
   /* bottom:6em;*/
  }
  .menu_bar {
    display: none;
  }

  header {
    margin: 1em auto;
    background: #A2C7E2;
    width: 100%;
  }

  header div .first-img {
    display: none;
  }

  .main_title {

    color: antiquewhite;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }

  h1 {
    margin: 0.5em;
  }

  h4 {
    margin: 1.01em;
  }
}


@media (max-width:700px) {
 
  .menu_bar {
    display: none;
  } 

  header {
    margin: 0 auto;
    background: #A2C7E2;
    width: 100%;
  }

  header div .first-img {
    display: none;
  }

  .main_title {
    color: #fff;
    font-weight: bold;
    opacity: 1.5;
    display: flex;
    justify-content: center;
  }

  h1 {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    margin-inline-start: 0.3em;
    margin-inline-end: 0px;
  }

  h4 {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }


}


@media (max-width:600px) {
  .menu_bar {
    display: block ;
  }

  

  .title-men {
    color:#fff;
    font-weight: bold;
  }

  h3{
    margin-left: 65%;
  }


  div .ico-men .icon-img{
    margin-left: 1em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
  }
  header {
    display: block;
    margin: 0 auto;
    background: #A2C7E2;
    width: 100%;
  }

  header div .first-img {
    display: none;
  }

  header .main_title {
    display: none;
  }




}

/* Estilos del navbar */
/* b ) */
nav {
  width: 100%;
  margin: 0 auto;
  background: #A2C7E2;
  color: antiquewhite;
}


#navbarButton:active {
  color: red;
}

 nav div ul {
  overflow: hidden;
  list-style: none;

}

 nav div ul li {
  float: left;

}

nav div ul li a {
  margin-left: 1em;
  color: #212F3D;
  padding: 10px;
  display: block;
  text-decoration: none;
 
}

 nav div ul li a:hover {
  background: #0f5a4b;
  color: #000000;
}

