<header>
  <div class="container">
    <!--   I    -->
    <div clas="row">
      <div class="col">
        <div class="row">
          <div class="col-lg-2 col-md-2  first-img">
            <img src="../../../assets/img/logon.jpg" alt="logo Fenpof" class="logo" />
          </div>

          <div class="col-lg-10 col-md-10   main_title ">
            <h1 class="">FENPOF</h1>
            <hr>
            <h4 class="">Federación de enfermedades poco frecuentes</h4>
          </div>

          <div class="col menu_bar">
            <div class="row  ">

              <div class="col-2 ico-men">
                <a href="#" class="bt-menu"><img src="../../../assets/imgregistrelogin/menu.png" class="icon-img"
                    alt=""></a>
              </div>
              <div class="col-10 title-men">
                <h3>Menu</h3>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

</header>


<!--   II    -->



<div >
  <ul class="nav__links">
    <li><a href="Sobre nosotros" routerLink="/about">Sobre nosotros</a></li>
    <li><a href="Información" routerLink="/information">Información</a>
      <ul class="children">
        <li><a href="">informacion A</a></li>
        <li><a href="">informacion B</a></li>
      </ul>
    </li>
    <li><a href="Organizaciones" routerLink="/organization">Organizaciones</a></li>
    <li><a href="Acompañamiento" routerLink="/support">Testimonios</a></li>
    <li><a href="Políticas públicas" routerLink="/events">Eventos</a></li>
    <li><a href="Galería" routerLink="/galery">Galería</a></li>
  </ul>
</div>

<div class="row logged" *ngIf="isLogged">
  <div col="col-4"></div>
  <div class="col-3 log">
    <li>Administrador: <b> {{ adminLetter }}</b></li>

  </div>
  <div class="col-3 btn-log">
    <button (click)="onLogout()">Cerrar Sesión</button>
  </div>
</div>
