<h1 class="testimonials"> Algunos Testimonios</h1>

<div class="row" style="margin-left: 80px; margin-right: 80px; margin-top: 40px;" >
        <div class="col-sm-6">
          <div class="card">
                <div class="card-body">
                        <p class="card-text">“Existían médicos que creían conocer mi diagnóstico, ya muchos de los servicios públicos no tienen los medios para confirmarlo con exámenes genéticos. 
                              Yo me demore cerca de 4 años en confirmar mi diagnóstico más certero, lo que es un tiempo bastante más corto en comparación a otros pacientes”
                              </p>
                              <footer class="blockquote-footer">Paciente <cite title="Source Title"></cite></footer>
                      </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <p class="card-text">“Es muy difícil para nosotros y nuestras familias el tener una enfermedad poco frecuente en este país donde muchas veces no tenemos código fonasa, yo no puedo comprar un bono por distrofia muscular porque no existe, debemos atendernos por otra cosa en forma particular”                    
                   </p>
                   <footer class="blockquote-footer">Paciente de distrofia muscular <cite title="Source Title"></cite></footer>
            </div>
          </div>
        </div>
      </div>

      <div class="row"  style="margin-left: 80px; margin-right: 80px; margin-top: 40px;">
            <div class="col-sm-6">
              <div class="card">
                    <div class="card-body">
                                 <p class="card-text">“Todas las organizaciones tienen distintos objetivos, pero con FENPOF podemos unirlas y lograr lo principal que es visibilizar nuestra causa demostrando que no somos invisibles”  
                                  </p>
                                  <footer class="blockquote-footer">Lider de Organizacion <cite title="Source Title"></cite></footer>
                          </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">               
                  <p class="card-text">"Un día la hija menor de una de nuestras miembros fue diagnosticada con una enfermedad rara llamada Arnold Chiari y una Siringomelia, sólo tenía 12 años. Ahí empezó un largo peregrinar en internet para saber en qué consiste esta malformación y también en tratar de encontrar gente que compartía esta malformación.
                        En todo ese camino se encontró a personas maravillosas, que ya habían pasado por el mismo camino y que decidieron caminar juntas. 
                        Luego de la cirugía,  esta niña realiza una vida cercana a lo normal y aunque siempre puede haber tormenta después de esta calma, y hoy es una mujer adulta."                    
                        </p>
                        <footer class="blockquote-footer">Testimonio rescatado de Corporación Chiari Chile <cite title="Source Title"></cite></footer>
                </div>
              </div>
            </div>
          </div>

          <!-- video de fame -->
<!-- 
          <div class="row" style="margin-left: 80px; margin-top: 40px;" >
          <div class="col-sm-6">
            <div class="card">
                  <div class="card-body">
                               <p class="card-text"> VIDEO TESTIMONIAL DE Corporación Familias Atrofia Muscular Espinal, FAME Chile
                                </p>
                                <a href="https://www.youtube.com/watch?v=CSAIVvERsaA#action=share " class="btn btn-primary">Ir al vídeo</a>
                        </div>
            </div>
          </div> 
        </div>        -->
